# 1. Variable Swap: Write a Python program to swap the values of two variables without using a temporary variable.

In [1]:
a = int(input())
b = int(input())

print("before swap : ")
print(a)
print(b)

a = a + b
b = a - b
a = a - b

print("after swap : ")
print(a)
print(b)

 1
 2

before swap :
1
2
after swap :
2
1

# 2. Even or Odd: Write a Python program that takes an integer as input and prints whether it is even or odd.

In [2]:
a = int(input())
b = int(input())

if a % 2 == 0 :
    print(a, 'is even')
else :
    print(a, 'is not even')

if b % 2 == 0 :
    print(b, 'is even')
else :
    print(b, 'is not even')

 2
 3

2 is even
3 is not even

# 3. String Reverse: Write a Python function to reverse a given string and return the reversed string.

In [3]:
s = input()
print(''.join(reversed(s)))

 abc

cba

# 4. Type Conversion: Given a list of integers, write a Python program to convert each element of the list to a string.

In [4]:
l = [1, 2, 3, 4, 5]

print('before : ', type(l[0]))

k = 0
for i in l :
    l[k] = str(i)
    k += 1

print('aftre : ', type(l[0]))

before :  <class 'int'>
aftre :  <class 'str'>

# 5. Temperature Converter: Write a Python program that converts a temperature in Celsius to Fahrenheit. Take the Celsius temperature as input from the user.

In [5]:
c = int(input())
f = c * 1.8 + 32
print(f)

 20

68.0

# 6. Data Type Checker: Write a Python function that takes a variable as input and returns the data type of the variable as a string (e.g., “int”, “float”, “str”, “list”, etc.).

In [6]:
def dataType(x) :
    return type(x).__name__

l = [1, 1.5, 'abcd', None, True, 1 + 2j]

for i in l :
    print(i, ' = ', dataType(i))

1  =  int
1.5  =  float
abcd  =  str
None  =  NoneType
True  =  bool
(1+2j)  =  complex

# 7. String Palindrome: Write a Python function to check if a given string is a palindrome or not.

In [7]:
ss = input()
ns = ''
for i in range(len(ss)-1, -1, -1) :
    ns += ss[i]

if ns == ss :
    print('string is palindrome')
else :
    print('string is not palindrome')

 abc

string is not palindrome

# 8. String Reversal with Slicing: Write a Python function to reverse a given string using slicing.

In [8]:
s = input()
ns = s[len(s) :  : -1]
print(ns)

 abc

cba

# 9. String Concatenation: Write a Python program that takes two strings as input and concatenates them into a single string without using the `+` operator.

In [9]:
s = input()
ns = input()

ans = "".join([s, ns])
print(ans)

 uhhh damn
 yeah

uhhh damnyeah

# 10. Typecasting Challenge: Given three variables: `a = ‘100’`, `b = 25`, and `c = ‘10.5’`, write a Python program to perform the following operations and print the results: – Convert `a` to an integer and add it to `b`. – Convert `c` to a float and subtract it from the result of the first operation. – Convert the final result to a string and concatenate it with the string ” is the answer.”

In [10]:
a = '100'
b = 25
c = '10.5'
a = int(a)
a += b
c = float(c)
a -= c
a = str(a)
print(a + ' is the answer')

114.5 is the answer

# 11. Positive, Negative, or Zero: Write a Python program that takes a number as input and prints whether it is positive, negative, or zero.

In [11]:
a = int(input())

if a > 0 : print(a, ' is Positive')
elif a < 0 : print(a, ' is Negative')
else : print(a, ' is Zero')

 -1

-1  is Negative

# 12. Largest of Three Numbers: Write a Python program that takes three numbers as input and prints the largest among them.

In [12]:
a = int(input())
b = int(input())
c = int(input())

if(a  > b and a > c) :
    print(a, ' is largest')
elif(b > a and b > c) :
    print(b, ' is largest')
else :
    print(c, ' is largest')

 2
 3
 -1

3  is largest

# 13. Leap Year Checker: Write a Python program that takes a year as input and determines if it is a leap year or not.

In [13]:
y = int(input())
if( y % 4 == 0 and y % 100 != 0 or (y  % 400 == 0)) :
    print(y, ' is leap year')
else :
    print(y, ' is not leap year')

 2024

2024  is leap year

# 14. Grades Classification: Write a Python program that takes a student’s percentage as input and prints their corresponding grade according to the following criteria: – 90% or above: A+ – 80-89%: A – 70-79%: B – 60-69%: C – Below 60%: Fail

In [14]:
x = int(input())

if(x >= 90) :
    print('A+')
elif(x >= 80) :
    print('A-')
elif(x >= 70) :
    print('B')
elif(x >= 60) :
    print('C')
else :
    print('Fail')

 100

A+

# 15. Vowel or Consonant: Write a Python program that takes a single character as input and determines whether it is a vowel or a consonant.

In [15]:
ch = input()

if(ch[0] == 'a' or ch[0] == 'e' or ch[0] == 'i' or ch[0] == 'o' or ch[0] == 'u') :
    print('Vowel')
else :
    print('Consonant')

 x

Consonant

# 16. Time Classification: Write a Python program that takes the time in hours (24-hour format) as input and prints “Good Morning”, “Good Afternoon”, “Good Evening”, or “Good Night” based on the time.

In [16]:
hh = int(input())
mm = int(input())

time = (hh * 60) + mm

if time >= 300 and time <= 719 :
    print("Good Morning")
elif time >= 720 and time <= 1079 :
    print("Good Afternoon")
elif time >= 1080 and time <= 1319 :
    print("Good Evening")
elif (time >= 1320 and time <= 1439) or (time >= 0 and time <= 299) :
    print("Good Night")

 12
 20

Good Afternoon

# 17. Triangle Type Checker: Write a Python program that takes three sides of a triangle as input and determines whether it forms an equilateral, isosceles, or scalene triangle.

In [17]:
a = 2
b = 3
c = 2

if(a == b and b == c) :
    print("The triangle is equilateral")
elif((a == b and a != c) or (b ==c and c != a) or (c == a and a != b)) :
    print("The triangle is isosceles")
else :
    print("The triangle is scalene")

The triangle is isosceles

# 18. Quadratic Equation Solver: Write a Python program that takes the coefficients (a, b, c) of a quadratic equation as input and calculates and prints the real roots (if they exist) or a message indicating the complex roots.

In [18]:
a = int(input())
b = int(input())
c = int(input())

ditt = (b * b) - (4 * a * c)

if(ditt > 0) :
    print('Two distinct real roots')
elif(ditt == 0) :
    print('One real root')
else :
    print('Complex roots')

 3
 1
 5

Complex roots

# 19. Number Ranges: Write a Python program that takes an integer as input and prints whether the number falls within the ranges: 0-50, 51-100, 101-150, or above 150.

In [19]:
a = int(input())

if(a >= 0 and a <= 50) :
    print('0-50')
elif(a >= 51 and a <= 100) :
    print('51-100')
elif(a >= 101 and a <= 150) :
    print('101-150')
else :
    print('above 150')

 151

above 150

# 20. Sum of N Numbers: Write a Python program using a for loop to calculate the sum of the first N natural numbers, where N is taken as input from the user.

In [20]:
N = int(input())
sum = 0

for i in range(1, N+1) :
    sum += i

print(sum)

 3

6

# 21. Factorial Calculator: Write a Python program using a while loop to calculate the factorial of a given number N.

In [21]:
N = int(input())

fact = 1
while(N >= 1) :
    fact *= N
    N -= 1


print(fact)

 3

6

# 22. Table of a Number: Write a Python program using a for loop to print the multiplication table of a given number N.

In [22]:
N = int(input())

for i in range(1, 11) :
    print(i * N)

 3

3
6
9
12
15
18
21
24
27
30

# 23. Count Digits in a Number: Write a Python program using a while loop to count the number of digits in a given integer N.

In [23]:
N = int(input())

ans = 0
while(N != 0) :
    N = int(N / 10)
    ans += 1

print(ans)

 3

1

# 24. Fibonacci Sequence: Write a Python program using a for loop to generate the Fibonacci sequence up to a given limit N.

In [24]:
N = int(input())
l = [0, 1]

for i in range(2, 1000000000) :
    sum = l[i-1] + l[i-2]
    if(sum <= N) : l.append(sum)
    else : break


print(l)

 10

[0, 1, 1, 2, 3, 5, 8]

# 25. Sum of Even Numbers: Write a Python program using a while loop to calculate the sum of all even numbers between 1 and N, where N is taken as input from the user.

In [25]:
N = int(input())
sum = 0
i = 1

while(i <= N) :
    if i % 2 == 0 :
        sum += i
    i += 1

print(sum)

 3

2

# 26. Print Patterns: Write a Python program using nested for loops to print various patterns, such as a right-angled triangle, an inverted right-angled triangle, and so on.

In [26]:
n = int(input())

 3

In [27]:
for i in range(0, n) :
    for j in range(0, i+1) :
        print('*', end = " ")
    print()

*
* *
* * *

In [28]:
for i in range(0, n) :
    for j in range(0, n - i) :
        print('*', end = " ")
    print()

* * *
* *
*

In [29]:
for i in range(0, n + 1) :
    for j in range(n - i) :
        print(' ', end = "")
    for k in range(2 * i - 1) :
        print('*', end = "")
    print()

  *
 ***
*****

In [30]:
for i in range(n, 0, -1):
    for j in range(n - i):
        print(" ", end="")
    for k in range(2 * i - 1):
        print("*", end="")
    print()

*****
 ***
  *

# 27. Prime Number Checker: Write a Python program using a while loop to check if a given number N is prime or not.

In [31]:
N = int(input())

cnt = 0
for i in range(1, int(N ** 0.5) + 1) :
    if(N % i == 0) :
        cnt += 1

if(cnt == 2 and N > 1) :
    print(N, 'is prime')
else :
    print(N, 'is not prime')

 3

3 is not prime

# 28. List Manipulation: Given a list of integers, write a Python program using a for loop to find the sum, average, maximum, and minimum values in the list.

In [32]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

mx = -1e9
mn = 1e9
sum = 0


for i in l :
    if(i >= mx) : mx = i
    if(i <= mn) : mn = i
    sum += i

print(sum)
print(mx)
print(mn)
print(sum/len(l))

55
10
1
5.5

# 29. Reverse String: Write a Python program using a while loop to reverse a given string.

In [33]:
s = input()


l = len(s)-1
while(l >= 0) :
    print(s[l], end = '')
    l -= 1

 3

3

# 30. Multiplication Table: Write a Python program using nested loops to print the multiplication table from 1 to 10.

In [34]:
for i in range(1, 11) :
    print(i, end = " = ")
    for j in range(1, 11) :
        print(i * j, end = " ")
    print()

1 = 1 2 3 4 5 6 7 8 9 10
2 = 2 4 6 8 10 12 14 16 18 20
3 = 3 6 9 12 15 18 21 24 27 30
4 = 4 8 12 16 20 24 28 32 36 40
5 = 5 10 15 20 25 30 35 40 45 50
6 = 6 12 18 24 30 36 42 48 54 60
7 = 7 14 21 28 35 42 49 56 63 70
8 = 8 16 24 32 40 48 56 64 72 80
9 = 9 18 27 36 45 54 63 72 81 90
10 = 10 20 30 40 50 60 70 80 90 100

# 31. Print Patterns: Write a Python program using nested loops to print the following pattern:

# *

# **

# ***

# ****

# *****

In [35]:
for i in range(0, 5) :
    for j in range(0, i+1) :
        print('*', end = "")
    print()

*
**
***
****
*****

# 32. Matrix Multiplication: Write a Python program using nested loops to multiply two matrices.

In [36]:
import numpy as np

mat1 = np.array([[1, 2], [3, 4]])
mat2 = np.array([[4, 3], [2, 1]])

print(mat1, "\n")
print(mat2, "\n")

res = mat1 * mat2
print(res)

[[1 2]
 [3 4]]

[[4 3]
 [2 1]]

[[4 6]
 [6 4]]

# 33. Chessboard Pattern: Write a Python program using nested loops to print a chessboard pattern (alternating “X” and “O” characters) of size 8×8.

In [37]:
for i in range(0, 8) :
    for j in range(0, 8) :
        if i % 2 == 0 :
            if j % 2 == 0 :
                print('X', end = '')
            else :
                print('O', end = '')
        else :
            if j % 2 == 0 :
                print('O', end = '')
            else :
                print('X', end = '')

    print()

XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX

# 34. Number Pyramid: Write a Python program using nested loops to print a number pyramid like the following: 1 22 333 4444 55555

In [38]:
for i in range(1, 6) :
    for j in range(1, i+1) :
        print(i, end = "")
    print()

1
22
333
4444
55555

# 34. List Sum: Write a Python program to find the sum of all elements in a given list of integers.

In [39]:
n = int(input())
lst = []

for i in range(0, n) :
    x = int(input())
    lst.append(x)

 3
 1
 2
 3

In [40]:
sm = 0
for i in lst :
    sm += i

print(sm)

6

# 35. List Average: Write a Python program to calculate the average of all elements in a given list of integers.

In [41]:
avg = float(sm / n) * 1.0
print(avg)

2.0

# 36. List Max and Min: Write a Python program to find the maximum and minimum values in a given list of integers.

In [42]:
mx = -1e9
mn = 1e9

for i in lst :
    if(i >= mx) : mx = i
    if(i <= mn) : mn = i

print(mx)
print(mn)

3
1

# 37. List Sorting: Write a Python program to sort a list of integers in ascending order.

In [43]:
lst = [1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
nlst = lst.copy()
lst.sort()
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
print(nlst)

for i in range(0, len(nlst)) :
    for j in range(i+1, len(nlst)) :
        if(nlst[j] < nlst[i]) :
            tmp = nlst[i]
            nlst[i] = nlst[j]
            nlst[j] = tmp

print(nlst)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 38. List Filtering: Given a list of integers, write a Python program to create a new list that contains only the even numbers from the original list.

In [45]:
print(nlst)

evenList = []
for i in nlst :
    if(i % 2 == 0) :
        evenList.append(i)

print(evenList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

# 39. List Reversal: Write a Python program to reverse a given list without using any built-in functions.

In [46]:
print(nlst)
nlst.append(11)
print(nlst)
pi = len(nlst) - 1

for i in range(0, int(len(nlst) / 2)) :
    tmp = nlst[i]
    nlst[i] = nlst[pi]
    nlst[pi] = tmp
    pi = pi - 1

print(nlst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# 40. List Manipulation: Given two lists of integers, write a Python program to create a new list that contains elements common to both lists.

In [47]:
print(lst)
print(nlst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [48]:
commonLst = []

for i in lst :
    for j in nlst :
        if i == j :
            commonLst.append(i)
            break

print(commonLst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 41. List Element Count: Write a Python program to count the occurrences of a specific element in a given list.

In [49]:
from collections import defaultdict
lst = [1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, -1]
dct = defaultdict(int)

for i in lst :
    dct[i] += 1

print(dct)

defaultdict(<class 'int'>, {1: 2, 2: 3, 3: 3, 4: 5, 5: 9, -1: 1})

# 42. List Duplicates Removal: Write a Python program to remove duplicates from a given list while preserving the order of the elements

In [50]:
lst = [5, 5, 4, 3, 4, 3, 2, 1, 2, 1, -1, 2, -1, 2]
inf = 1e9
nlst = []

for i in range(0, len(lst)) :
    if lst[i] != inf :
        nlst.append(lst[i])
        for j in range(i+1, len(lst)) :
            if lst[i] == lst[j] :
                lst[j] = inf

print(nlst)

[5, 4, 3, 2, 1, -1]

# 43. List Comprehension: Given a list of integers, write a Python program to create a new list that contains the squares of the elements using list comprehension.

In [51]:
lst = [1, 2, 3, 4]
new_lst = []

for i in lst :
    new_lst.append(i * i)

print(new_lst)

[1, 4, 9, 16]

# 44. Matrix Addition: Write a Python program to add two matrices represented as nested lists.

In [52]:
matrix1 = []
matrix2 = []

r1 = int(input("enter the value of r1 : "))
c1 = int(input("enter the value of c1 : "))

for i in range(0, r1) :
    lst = []
    for j in range(0, c1) :
        x = int(input())
        lst.append(x)
    matrix1.append(lst)

print(matrix1)

r2 = int(input("enter the value of r2 : "))
c2 = int(input("enter the value of c2 : "))

for i in range(0, r2) :
    lst = []
    for j in range(0, c2) :
        x = int(input())
        lst.append(x)
    matrix2.append(lst)

print(matrix2)

enter the value of r1 :  1
enter the value of c1 :  1
 1

[[1]]

enter the value of r2 :  1
enter the value of c2 :  1
 1

[[1]]

In [53]:
result = []
if(r1 == r2 and c1 == c2) :
    for i in range(0, r1) :
        lst = []
        for j in range(0, c1) :
            sum = matrix1[i][j] + matrix2[i][j]
            lst.append(sum)
        result.append(lst)

result

[[2]]

# 45. Flatten Nested List: Write a Python program to flatten a given nested list and convert it into a single-dimensional list.

In [54]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

In [55]:
single_dlist = []

for i in nested_list :
    for j in i :
        single_dlist.append(j)

single_dlist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 46. List Element Frequency: Given a nested list containing lists of integers, write a Python program to count the frequency of each element in the entire nested list.

In [56]:
from collections import defaultdict
dct = defaultdict(int)

lst = [1, 1, 2, 2, 1, 2, 3, 4, 2, 3, 4, 2, 3, 4]

for i in lst :
    dct[i] += 1

dct

defaultdict(int, {1: 3, 2: 5, 3: 3, 4: 3})

# 47. Transpose Matrix: Write a Python program to transpose a given matrix represented as a nested list.

In [57]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("before transpose : ", matrix)
# 1 2 3
# 4 5 6
# 7 8 9

# 1 4 7
# 2 5 8
# 3 6 9

result = []
c = len(matrix[0])
r = len(matrix)

for i in range(0, c) :
    lst = []
    for j in range(0, r) :
        lst.append(matrix[j][i])
    result.append(lst)

print("after transpose : ", result)

before transpose :  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
after transpose :  [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

# 48. List of Lists Concatenation: Given a list of nested lists, write a Python program to concatenate all the sublists into a single flat list.

In [58]:
nstlst = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

ans = []
for i in nstlst :
    for j in i :
        ans.append(j)

ans

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 49. Tuple Concatenation: Write a Python program to concatenate two tuples and create a new tuple.

In [59]:
a = (1, 2, 3)
b = (4, 5, 6)

ans = a + b
ans

(1, 2, 3, 4, 5, 6)

# 50. Tuple Unpacking: Given a tuple with three elements (x, y, z), write a Python program to unpack the tuple and assign the values to three variables.

In [60]:
t = ('x', 'y', 'z')
x, y, z = t
print(x)
print(y)
print(z)

x
y
z

# 51. Tuple Sorting: Write a Python program to sort a tuple of integers in ascending order.

In [61]:
t = (5, 4, 3, 2, 1)
t = list(t)
t.sort()
t = tuple(t)
print(t)

(1, 2, 3, 4, 5)

# 52. Tuple Frequency Count: Given a tuple containing various elements, write a Python program to count the frequency of a specific element in the tuple.

In [62]:
t = (1, 2, 3, 1, 2, 3, 4, 4, 5, 5, 1, 1, 1)
print(t.count(1))

5

# 53. Tuple to List: Write a Python program to convert a tuple into a list.

In [63]:
t

(1, 2, 3, 1, 2, 3, 4, 4, 5, 5, 1, 1, 1)

In [64]:
lst = list(t)
lst

[1, 2, 3, 1, 2, 3, 4, 4, 5, 5, 1, 1, 1]

# 54. Tuple Reversal: Write a Python program to reverse a tuple without using any built-in functions.

In [65]:
t = (10, 20, 30 , 40, 50, 60, 70, 80, 90, 100)

In [66]:
t = list(t)
t = t[len(t): : -1]
t = tuple(t)
t

(100, 90, 80, 70, 60, 50, 40, 30, 20, 10)

# 55. Tuple Slicing: Given a tuple, write a Python program to extract a slice of elements from it.

In [67]:
t[1:7]

(90, 80, 70, 60, 50, 40)

# 56. Tuple Operations: Given two tuples of integers, write a Python program to perform element-wise addition, subtraction, and multiplication and create new tuples for each operation.

In [68]:
t = (1, 2, 3, 4, 5)
t1 = (10, 20, 30, 40, 51)
res = []

res.append(t1[0] + t[0])
res.append(t1[1] - t[1])
res.append(t1[2] * t[2])
res.append(t1[3] / t[3])
res.append(t1[4] % t[4])

res = tuple(res)
res

(11, 18, 90, 10.0, 1)

# 57. Tuple Membership Test: Write a Python program that takes an element as input and checks if it exists in a given tuple.

In [69]:
t = (1, 2, 3, 4, 5)

if(t.count(-1) == 0) :
    print(1, 'does not exist in tuple')
else :
    print(1, 'does exist in tuple')

1 does not exist in tuple

# 58. Tuple Packing: Write a Python program to pack three variables into a single tuple and print the tuple.

In [70]:
x = 1
y = 2
z = 3
t = x, y, z
print(t)
print(t[0])
print(t[1])
print(t[2])

(1, 2, 3)
1
2
3

# 59. Nested List Element Access: Given a nested list, write a Python program to access and print specific elements from it.

In [71]:
lst = [[1, 2, 3], [11, 12], [100], [17, 27, 37, 47, 57, -1]]
item = -1

for i in lst :
    for j in i :
        if(j == item) :
            print(item, 'is found')

-1 is found

# 60. Nested List Flattening: Write a Python program to flatten a nested list and convert it into a single-dimensional list.

In [72]:
lst

[[1, 2, 3], [11, 12], [100], [17, 27, 37, 47, 57, -1]]

In [73]:
single_lst = []
for i in lst :
    for j in i :
        single_lst.append(j)

single_lst

[1, 2, 3, 11, 12, 100, 17, 27, 37, 47, 57, -1]

# 61. Nested List Sorting: Given a nested list containing lists of integers, write a Python program to sort the sublists based on their lengths.

In [74]:
lst

[[1, 2, 3], [11, 12], [100], [17, 27, 37, 47, 57, -1]]

In [75]:
sorted(lst, key = len)

[[100], [11, 12], [1, 2, 3], [17, 27, 37, 47, 57, -1]]

# 62. List of Tuples Conversion: Given a nested list containing tuples of (x, y) coordinates, write a Python program to convert it into a list of x-coordinates and a list of y-coordinates.

In [76]:
lst = [(1, 2), (3, 4), (5, 6), (7, 8)]
x_coord = []
y_coord = []

for i in lst :
    x_coord.append(i[0])
    y_coord.append(i[1])

print(x_coord)
print(y_coord)

[1, 3, 5, 7]
[2, 4, 6, 8]

# 63. Matrix Transpose: Write a Python program to transpose a given matrix represented as a nested list.

In [77]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("before transpose : ", matrix)
# 1 2 3
# 4 5 6
# 7 8 9

# 1 4 7
# 2 5 8
# 3 6 9

result = []
c = len(matrix[0])
r = len(matrix)

for i in range(0, c) :
    lst = []
    for j in range(0, r) :
        lst.append(matrix[j][i])
    result.append(lst)

print("after transpose : ", result)

before transpose :  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
after transpose :  [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

# 64. Nested List Concatenation: Given a list of nested lists, write a Python program to concatenate all the sublists into a single flat list.

In [78]:
lst = [[1, 2, 3], [11, 12], [100], [17, 27, 37, 47, 57, -1]]

single_lst = []
for i in lst :
    for j in i :
        single_lst.append(j)

single_lst

[1, 2, 3, 11, 12, 100, 17, 27, 37, 47, 57, -1]

# 65. Count Even Numbers: Write a Python program to count the number of even numbers in a nested list.

In [79]:
lst = [[1, 2, 3], [11, 12], [100], [17, 28, 38, 48, 52, -1]]

cnt = 0

for i in lst :
    for j in i :
        if j % 2 == 0 :
            cnt += 1
cnt

7

# 66. Maximum Element in Nested List: Write a Python program to find the maximum element in a nested list of integers.

In [80]:
mx = -1e18

for i in lst :
    for j in i :
        if j >= mx :
            mx = j
mx

100

# 67. Diagonal Sum of Matrix: Given a square matrix represented as a nested list, write a Python program to calculate the sum of the elements in the main diagonal.

In [81]:
matrix = [[1, 2, 3], [4, 5, 6],[7, 8, 9]]
sm = 0

# 1 2 3
# 4 5 6
# 7 8 9

for i in range(0, len(matrix)) :
    sm += matrix[i][i]

sm

15

# 68. Nested List Element Search: Write a Python program to search for a specific element in a nested list and return its position (row and column indices).

In [82]:
matrix

# 00 01 02
# 10 11 12
# 20 21 22

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [83]:
def element_search(item) :
    r = None
    c = None
    for i in range(0, len(matrix)) :
        for j in range(0, len(matrix[0])) :
            if(matrix[i][j] == item) :
                r = i
                c = j
    return (r, c)

item = 8
element_search(item)

(2, 1)

# 69. Duplicate Removal: Write a Python program that takes a list of elements as input and creates a new set containing only the unique elements from the list.

In [84]:
lst = []

n = int(input())

for i in range(0, n) :
    x = int(input())
    lst.append(x)

lst

 3
 1
 3
 5

[1, 3, 5]

In [85]:
s = set(lst)
s

{1, 3, 5}

# 70. Set Intersection: Given two sets A and B, write a Python program to find their intersection and print the common elements.

In [86]:
A = {1, 2, 3, 4, 5}
B = {6, 7, 8}

In [87]:
res = A.intersection(B)
res

set()

# 71. Set Union: Given two sets A and B, write a Python program to find their union and print all the distinct elements from both sets.

In [88]:
res = A.union(B)
res

{1, 2, 3, 4, 5, 6, 7, 8}

# 72. Set Difference: Given two sets A and B, write a Python program to find the difference between set A and set B (i.e., elements present in A but not in B) and print the result.

In [89]:
res = A.difference(B)
res

{1, 2, 3, 4, 5}

# 73. Set Symmetric Difference: Given two sets A and B, write a Python program to find the symmetric difference between the two sets (i.e., elements that are present in either set A or set B, but not in both) and print the result.

In [90]:
A

{1, 2, 3, 4, 5}

In [91]:
B

{6, 7, 8}

In [92]:
res = A ^ B
res

{1, 2, 3, 4, 5, 6, 7, 8}

In [93]:
res = A - B

In [94]:
A.symmetric_difference(B)

{1, 2, 3, 4, 5, 6, 7, 8}

# 74. Set Operations: Given three sets A, B, and C, write a Python program to find and print the intersection of A and B, the union of B and C, and the difference between C and A.

In [95]:
print(A)
print(B)
C = {11, 12, 13}
print(C)

{1, 2, 3, 4, 5}
{8, 6, 7}
{11, 12, 13}

In [96]:
res1 = A.intersection(B)
res2 = B.union(C)
res3 = C.difference(A)

In [97]:
print(res1)
print(res2)
print(res3)

set()
{6, 7, 8, 11, 12, 13}
{11, 12, 13}

# 75. Set Subset Check: Given two sets A and B, write a Python program to check if set A is a subset of set B and print the result.

In [98]:
A = {1, 2, 3, 4, 5}
B = {3, 5}

In [99]:
if B.issubset(A) == True :
    print("B is a subset of A")
else :
    print("B is not a subset of A")

B is a subset of A

# 76. Set Superset Check: Given two sets A and B, write a Python program to check if set A is a superset of set B and print the result.

In [100]:
if A.issuperset(B) == True :
    print("A is a superset of B")
else :
    print("A is not a superset of B")

A is a superset of B

# 77. Set Length Check: Write a Python program that takes a set as input and prints the number of elements in the set.

In [101]:
lst = []

n = int(input())

for i in range(0, n) :
    x = int(input())
    lst.append(x)

lst

 2
 1
 2

[1, 2]

In [102]:
s = set(lst)
len(s)

2

# 76. Set Membership Test: Write a Python program that takes an element as input and checks if it exists in a given set. Print “Found” if the element is present and “Not Found” otherwise.

In [103]:
item = int(input())
s = list(s)

if(s.count(item) > 0) :
    print("exist")
else :
    print("not exist")

 3

not exist

# 77. Dictionary Manipulation: Given a dictionary with student names as keys and their corresponding scores as values, write a Python program to add a new student to the dictionary and update the score of an existing student.

In [104]:
dct = {
    'maruf' : 10,
    'prasenjit' : 20,
    'yash' : 30,
    'prottoy' : 40
}

In [105]:
dct['maruf']

10

In [106]:
dct['rafi'] = 50
dct['yash'] = -111

In [107]:
dct

{'maruf': 10, 'prasenjit': 20, 'yash': -111, 'prottoy': 40, 'rafi': 50}

# 78. Dictionary Keys and Values: Write a Python program that takes a dictionary as input and prints all the keys and values in separate lines.

In [108]:
dct

{'maruf': 10, 'prasenjit': 20, 'yash': -111, 'prottoy': 40, 'rafi': 50}

In [109]:
for i in dct :
    print(i, " : ", dct[i])

maruf  :  10
prasenjit  :  20
yash  :  -111
prottoy  :  40
rafi  :  50

# 79. Dictionary Length: Write a Python program to calculate and print the number of key-value pairs in a given dictionary.

In [110]:
print(dct)

cnt = 0
for i in dct :
    cnt += 1

print("total pair : ", cnt)

{'maruf': 10, 'prasenjit': 20, 'yash': -111, 'prottoy': 40, 'rafi': 50}
total pair :  5

In [111]:
print(len(dct))

5

# 80. Dictionary Value Search: Given a dictionary of items and their prices, write a Python program to search for an item based on its price and print the item’s name.

In [112]:
dct = {
    'rice' : 90,
    'sugar' : 50,
    'milk powder' : 400,
    'oil' : 300,
    'biscuit' : 100
}

dct

{'rice': 90, 'sugar': 50, 'milk powder': 400, 'oil': 300, 'biscuit': 100}

In [113]:
item =  100

for i in dct :
    if dct[i] == item :
        print("item name : ", i)

item name :  biscuit

# 81. Dictionary Merging: Given two dictionaries, write a Python program to merge them into a single dictionary and print the result.

In [114]:
dct1 = {
    'water' : 40,
    'coke' : 120,
    'tea leaf' : 350,
    'onion' : 250
}

dct1

{'water': 40, 'coke': 120, 'tea leaf': 350, 'onion': 250}

In [115]:
dct

{'rice': 90, 'sugar': 50, 'milk powder': 400, 'oil': 300, 'biscuit': 100}

In [116]:
merged = dct | dct1
merged

{'rice': 90,
 'sugar': 50,
 'milk powder': 400,
 'oil': 300,
 'biscuit': 100,
 'water': 40,
 'coke': 120,
 'tea leaf': 350,
 'onion': 250}

# 82. Dictionary Key Removal: Given a dictionary of items and their quantities, write a Python program to remove a specific item from the dictionary based on user input.

In [117]:
dct = {
    'pen' : 4,
    'pencil' : 2,
    'sharpner' : 1,
    'eraser' : 2
}

dct

{'pen': 4, 'pencil': 2, 'sharpner': 1, 'eraser': 2}

In [118]:
item = input()

if item in dct :
    del dct[item]
else :
    print(item , 'is not in the dct')

 eraser

In [119]:
dct

{'pen': 4, 'pencil': 2, 'sharpner': 1}

# 83. Dictionary Sorting: Given a dictionary with names as keys and corresponding ages as values, write a Python program to sort the dictionary based on age in ascending order.

In [120]:
dct = {
    'adnan' : 33,
    'minhaj' : 17,
    'maruf' : 24,
    'mahi' : 21,
    'yash' : 23,
    'riaz' : 22,
    'abdullah' : 24
}

In [121]:
dct

{'adnan': 33,
 'minhaj': 17,
 'maruf': 24,
 'mahi': 21,
 'yash': 23,
 'riaz': 22,
 'abdullah': 24}

In [122]:
sorted_dct = sorted(dct.items(), key = lambda item : item[1])
dct = dict(sorted_dct)

In [123]:
dct

{'minhaj': 17,
 'mahi': 21,
 'riaz': 22,
 'yash': 23,
 'maruf': 24,
 'abdullah': 24,
 'adnan': 33}

# 84. Dictionary Frequency Count: Write a Python program that takes a string as input and creates a dictionary containing each character as a key and its frequency as the value.

In [124]:
from collections import defaultdict
dct = defaultdict(int)

s = 'aaabbbcccdddddddeeeeeeeeeee'

for i in s :
    dct[i] += 1

dct

defaultdict(int, {'a': 3, 'b': 3, 'c': 3, 'd': 7, 'e': 11})

# 85. Dictionary Comprehension: Given a list of integers, write a Python program to create a dictionary where the keys are the elements from the list, and the values are their squares.

In [125]:
lst = [1, 2, 3, 4, 5]
dct = defaultdict(int)

for i in lst :
    dct[i] = i * i

dct

defaultdict(int, {1: 1, 2: 4, 3: 9, 4: 16, 5: 25})

# 86. Dictionary Key Check: Write a Python program that takes a key as input and checks if it exists in a given dictionary. Print “Key Found” if the key is present and “Key Not Found” otherwise.

In [126]:
merged

{'rice': 90,
 'sugar': 50,
 'milk powder': 400,
 'oil': 300,
 'biscuit': 100,
 'water': 40,
 'coke': 120,
 'tea leaf': 350,
 'onion': 250}

In [127]:
key = input()

f = False
for i in merged :
    if i == key :
        f = True
        break

if f == True :
    print('Key Found')
else :
    print('Key Not Found')

 coke

Key Found

# 87. Access Nested Dictionary: Given a nested dictionary containing student details, write a Python program to access and print specific information such as a student’s name, age, and address.

In [128]:
dct = {
    'd1' : {
        'name' : 'Maruf',
        'age' : 24,
        'address' : 'ctg'
    },
    'd2' : {
        'name' : 'yash',
        'age' : 24,
        'address' : 'boingee'
    },
    'd3' : {
        'name' : 'bumbaa',
        'age' : 23,
        'address' : 'ctg'
    },
    'd4' : {
        'name' : 'ballal',
        'age' : 24,
        'address' : 'boingee'
    }
}

dct['d4']['name']

'ballal'

# 88. Nested Dictionary Length: Write a Python program to calculate and print the total number of key-value pairs in a nested dictionary.

In [129]:
len(dct)

4

In [130]:
cnt = 0

for i in dct :
    cnt += 1

print("dictionary length : ", cnt)

dictionary length :  4

# 89. Nested Dictionary Update: Given a nested dictionary of employee details, write a Python program to update an employee’s salary based on their employee ID.

In [131]:
dct = {
    '0' : {
        '101' : 100000,
    },
    '1' : {
        '102' : 150000,
    },
    '2' : {
        '103' : 80000,
    },
}

dct

{'0': {'101': 100000}, '1': {'102': 150000}, '2': {'103': 80000}}

In [132]:
dct['1']['102'] = 200000

In [133]:
dct

{'0': {'101': 100000}, '1': {'102': 200000}, '2': {'103': 80000}}

# 90. Nested Dictionary Sorting: Given a nested dictionary containing product details (product name, price, and quantity), write a Python program to sort the products based on their prices in ascending order.

In [134]:
dct = {
    'sugar' : {
        'price' : 180,
        'quantity' : 2
    },
    'milk' : {
        'price' : 120,
        'quantity' : 2
    },
    'biscuit' : {
        'price' : 100,
        'quantity' : 2
    },
    'tea leaf' : {
        'price' : 410,
        'quantity' : 1
    }
}

dct

{'sugar': {'price': 180, 'quantity': 2},
 'milk': {'price': 120, 'quantity': 2},
 'biscuit': {'price': 100, 'quantity': 2},
 'tea leaf': {'price': 410, 'quantity': 1}}

In [135]:
dct = dict(sorted(dct.items(), key = lambda item : item[1]['price']))
dct

{'biscuit': {'price': 100, 'quantity': 2},
 'milk': {'price': 120, 'quantity': 2},
 'sugar': {'price': 180, 'quantity': 2},
 'tea leaf': {'price': 410, 'quantity': 1}}

# 91. Nested Dictionary Key Search: Write a Python program that takes a key as input and searches for it in a nested dictionary. If found, print the corresponding value, otherwise, print “Key Not Found.”

In [136]:
dct

{'biscuit': {'price': 100, 'quantity': 2},
 'milk': {'price': 120, 'quantity': 2},
 'sugar': {'price': 180, 'quantity': 2},
 'tea leaf': {'price': 410, 'quantity': 1}}

In [137]:
key = input()

f = False
val = None
for i in dct :
    if i == key :
        f = True
        val = i
        break

if f == True :
    print(dct[val])
else :
    print("Key Not Found.")

 sugar

{'price': 180, 'quantity': 2}

In [138]:
dct

{'biscuit': {'price': 100, 'quantity': 2},
 'milk': {'price': 120, 'quantity': 2},
 'sugar': {'price': 180, 'quantity': 2},
 'tea leaf': {'price': 410, 'quantity': 1}}

# 92. Prime Number Checker: Write a Python program that takes a number as input and determines if it is a prime number or not. Use a `for` loop to check for factors. If a factor is found, `break` out of the loop.

In [139]:
x = int(input())

f = True
for i in range(2, x) :
    if x % i == 0 :
        f = False
        break

if f == True and x > 1:
    print(x, 'is a prime number')
else :
    print(x, 'is not a prime number')

 17

17 is a prime number

# 93. Even Number Printer: Write a Python program to print all even numbers from 1 to 20. Use a `for` loop and `continue` to skip odd numbers.

In [140]:
for i in range(1, 21) :
    if i % 2 != 0 :
        continue
    else :
        print(i, end = " ")

2 4 6 8 10 12 14 16 18 20

# 94. Password Validator: Write a Python program that takes a password as input and checks if it meets the following criteria: at least 8 characters long, contains both uppercase and lowercase letters, and has at least one digit. If the password is valid, print “Password accepted.” If not, use `continue` to prompt the user to enter a valid password.

In [141]:
while(1) :
    password = input()

    ckupc = False
    cklowc = False
    ckdigit = False

    for i in password :
        if(i >= 'A' and i <= 'Z') :
            ckupc = True
        if(i >= 'a' and i <= 'z') :
            cklowc = True
        if(i >= '0' and i <= '9') :
            ckdigit = True

    if(len(password) >= 8 and ckupc == True and cklowc == True and ckdigit == True) :
        print("Password accepted.")
        break
    else :
        print("enter a valid password : ")
        continue

 Maruf1234

Password accepted.

# 95. Divisible by 3 or 5: Write a Python program to print all numbers from 1 to 50 that are divisible by either 3 or 5. Use a `for` loop and `continue` to skip numbers that are not divisible by either 3 or 5.

In [142]:
for i in range(1, 51) :
    if(i % 3 == 0 or i % 5 == 0):
        print(i)
    else :
        continue

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50

# 96. Positive Number Sum: Write a Python program that takes positive numbers as input until a negative number is entered. Then, calculate and print the sum of all positive numbers entered. Use a `while` loop and `break` to exit the loop when a negative number is encountered.

In [143]:
sm = 0

while(1) :
    val = int(input())
    if(val < 0) :
        print('Negative number is encountered')
        break
    else : sm += val

print(sm)

 1
 2
 3
 -1

Negative number is encountered
6

# 97. Word Palindrome Checker: Write a Python program that takes a word as input and checks if it is a palindrome (reads the same forwards and backward). Use `continue` to skip checking the word if its length is less than 3 characters.

In [144]:
while(1) :
    s = input()
    if len(s) < 3 :
        continue
    elif (s == 'break') :
        break

    if(s == s[::-1]) :
        print(s, 'is palindrome')
    else :
        print(s, 'is not palindrome')

 baab

baab is palindrome

 nice

nice is not palindrome

 nun

nun is palindrome

 break

# 98. Odd Number Finder: Write a Python program to find the first odd number from a list of integers. Use a `for` loop and `break` to stop the loop when the first odd number is found.

In [145]:
lst = [2, 4, 6, 8, 10, 12, 14, 18, 17, 20, -1]

for i in lst :
    if i % 2 != 0 :
        print('odd number found, value =', i)
        break

odd number found, value = 17

# 99. Number Guessing Game: Write a Python program that generates a random number between 1 and 100 and lets the user guess the number. Use a `while` loop, `break` when the correct number is guessed, and `continue` to keep prompting the user until they guess correctly.

In [146]:
import random

def NumberGusseingGame() :
    while(1) :
        sec_num = random.randint(1, 10)
        print("guess the number : ")
        num = int(input())

        if num == sec_num :
            print("You guess correctly")
            break
        elif num < sec_num :
            print("Too low")
        elif num > sec_num :
            print("Too high")
        else :
            print("guess the number correctly : ")
            continue

NumberGusseingGame()

guess the number :

 1

Too low
guess the number :

 10

Too high
guess the number :

 5

Too high
guess the number :

 9

Too high
guess the number :

 3

Too low
guess the number :

 4

Too high
guess the number :

 2

You guess correctly

# 100. Vowel Counter: Write a Python program that takes a string as input and counts the number of vowels (a, e, i, o, u) in it. Use a `for` loop and `continue` to skip counting non-vowel characters.

In [147]:
s = input()

cnt = 0
for i in s :
    if (i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u') :
        cnt += 1
    else :
        continue

cnt

 abcdefghij

3

# 101. Unique Characters: Write a Python program that takes a string as input and checks if it contains all unique characters (no character repeats). Use a `for` loop and `break` when a character repeats.

In [148]:
from collections import defaultdict
dct = defaultdict(int)

s = input()
for i in s :
    dct[i] += 1
    if(dct[i] == 1) :
        continue
    elif(dct[i] > 1) :
        print('character repeats')
        break

 nice jacket

character repeats

# 102. Factorial Calculator: Write a Python function called `factorial` that takes an integer as input and returns its factorial. Test the function with different values.

In [149]:
def factorial(n) :
    if(n == 0) : return 1
    return n * factorial(n-1)

print(factorial(4))
print(factorial(40))
print(factorial(55))
print(factorial(100))
print(factorial(87))

24
815915283247897734345611269596115894272000000000
12696403353658275925965100847566516959580321051449436762275840000000000000
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000
2107757298379527717213600518699389595229783738061356212322972511214654115727593174080683423236414793504734471782400000000000000000000

# 103. Palindrome Checker: Write a Python function called `is_palindrome` that takes a string as input and returns `True` if it is a palindrome and `False` otherwise. Test the function with different words.

In [150]:
def is_palindrome(s) :
    return s == s[::-1]

print(is_palindrome('abcba'))
print(is_palindrome('abc'))
print(is_palindrome('aba'))
print(is_palindrome('abac'))

True
False
True
False

# 104. Even or Odd Checker: Write a Python function called `even_or_odd` that takes an integer as input and returns “Even” if the number is even and “Odd” if the number is odd. Test the function with different numbers.

In [151]:
def even_or_odd(n) :
    if(n % 2 == 0) :
        return "Even"
    else :
        return "Odd"

print(even_or_odd(2))
print(even_or_odd(5))
print(even_or_odd(100))
print(even_or_odd(999))

Even
Odd
Even
Odd

# 105. List Sum Calculator: Write a Python function called `list_sum` that takes a list of integers as input and returns the sum of all elements in the list. Test the function with different lists.

In [152]:
def list_sum(lst) :
    sm = 0
    for i in lst :
        sm += i
    return sm

print(list_sum([1, 2, 3, 4, 5]))
print(list_sum([2, 3, 4, 5]))
print(list_sum([3, 4, 5]))
print(list_sum([4, 5]))

15
14
12
9

# 106. Greatest Common Divisor (GCD) Calculator: Write a Python function called `gcd` that takes two integers as input and returns their greatest common divisor. Test the function with different pairs of numbers.

In [153]:
def gcd(a, b) :
    if(b == 0) :
        return a
    else :
       return gcd(b, a % b)


print(gcd(54, 24))
print(gcd(12, 30))
print(gcd(100, 70))

6
6
10

# 107. Leap Year Checker: Write a Python function called `is_leap_year` that takes a year as input and returns `True` if it is a leap year and `False` otherwise. Test the function with different years.

In [154]:
def is_leap_year(year) :
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

print(is_leap_year(2024))
print(is_leap_year(2100))

True
False

# 108. Math Operations: Write a Python function called `math_operations` that takes three numbers and a string representing an operation (‘add’, ‘subtract’, ‘multiply’, or ‘divide’). The function should return the result of the specified operation on the three numbers. Implement the math operations as nested functions.

In [155]:
def math_operations(a, b, c, op):
    def add():
        return a + b + c

    def subtract():
        return a - b - c

    def multiply():
        return a * b * c

    def division():
        try:
            return a / b / c
        except ZeroDivisionError:
            return "error: division by zero"

    dct = {
        'add': add,
        'subtract': subtract,
        'multiply': multiply,
        'division': division
    }

    if op in dct:
        return dct[op]()
    else:
        return "error: invalid operation"

print(math_operations(2, 3, 4, 'add'))
print(math_operations(4, 3, 2, 'subtract'))
print(math_operations(2, 3, 4, 'multiply'))
print(math_operations(10, 5, 2, 'division'))
print(math_operations(10, 5, 0, 'division'))
print(math_operations(2, 3, 4, 'invalid'))

9
-1
24
1.0
error: division by zero
error: invalid operation

# 109. Greeting Generator: Write a Python function called `greeting_generator` that takes a name as input and returns a greeting message using nested functions. The greeting message should be customizable (e.g., “Hello, {name}! How are you today?”).

In [156]:
def greeting_generator(name, func) :
    def hello() :
        return f"Hello, {name}! How are you today?"
    def hi() :
        return f"Hi, {name}! How are you today?"
    def GM() :
        return f"Good Morning, {name}!"
    dct = {
        'hello' : hello,
        'hi' : hi,
        'GM' : GM
    }

    if func in dct : return dct[func]()

print(greeting_generator("Maruf", "hello"))
print(greeting_generator("Prasenjit", "hello"))
print(greeting_generator("Maruf", "GM"))
print(greeting_generator("Sujoy", "hi"))

Hello, Maruf! How are you today?
Hello, Prasenjit! How are you today?
Good Morning, Maruf!
Hi, Sujoy! How are you today?

# 110. Temperature Converter: Write a Python function called `temperature_converter` that takes a temperature value and a string representing the scale (‘C’ for Celsius or ‘F’ for Fahrenheit) as input. The function should convert the temperature from one scale to the other using nested functions and return the converted value.

In [157]:
def temperature_converter(temp, s) :
    def celc() :
        return ((temp - 32) / (9 / 5))
    def farh() :
        return ((temp * 9 / 5) + 32)

    dct = {
        'celc' : celc,
        'farh' : farh
    }

    if s in dct :
        return dct[s]()

print(temperature_converter(80, 'celc'))
print(temperature_converter(80, 'farh'))

26.666666666666664
176.0

# 111. Factorial Calculation: Write a recursive Python function called `factorial` that takes a non-negative integer as input and returns its factorial.

In [158]:
def factorial(n) :
    if(n == 0) : return 1
    return n * factorial(n-1)

print(factorial(4))

24

# 112. Fibonacci Series: Write a recursive Python function called `Fibonacci` that takes an integer N as input and returns the Nth number in the Fibonacci series. The Fibonacci series is defined as follows: F(0) = 0, F(1) = 1, and F(n) = F(n-1) + F(n-2) for n > 1.

In [159]:
def Fibonacci(n) :
    if n <= 1 :
        return n
    else :
        return Fibonacci(n-1) + Fibonacci(n-2)

Fibonacci(17)

1597

# 113. The sum of Digits: Write a recursive Python function called `sum_of_digits` that takes an integer as input and returns the sum of its digits.

In [160]:
def sum_of_digits(n) :
    if(n <= 1) :
        return n
    else :
        return (n % 10) + sum_of_digits(int(n / 10.0))

sum_of_digits(1234)

10

# 114. Binary Search: Write a recursive Python function called `binary_search` that takes a sorted list and a target value as input and returns the index of the target value in the list using binary search. If the target value is not in the list, return -1.

In [161]:
item = int(input())
lst = [9, 8, 7, 6, 5, 4, 3, 2, 1]
lst.sort()

l = 0
r = len(lst)-1
f = False
while(l <= r) :
    mid = int((l + r) / 2.0)
    if lst[mid] == item :
        f = True
        break
    elif item < lst[mid] :
        r = mid - 1
    else :
        l = mid + 1

if f == True :
    print("item found")
else :
    print('item not found')

 3

item found

In [162]:
def binary_search(lst, item, l, r) :
    if l > r :
        return -1

    mid = int((l + r) / 2.0)
    if item == lst[mid] :
        return mid
    elif item < lst[mid] :
        return binary_search(lst, item, l, mid - 1)
    elif item > lst[mid] :
        return binary_search(lst, item, mid + 1, r)


lst = [9, 8, 7, 6, 5, 4, 3, 2, 1]
lst.sort()
binary_search(lst, 100, 0, len(lst)-1)

-1

# 115. Power Calculation: Write a recursive Python function called `power` that takes two positive integers, base and exponent, as input and returns the value of base raised to the exponent.

In [163]:
def power(b, e) :
    if e == 0 :
        return 1
    else :
        return b * power(b, e - 1)

power(4, 2)

16