In [1]:
# data type and input-print function
# here are some data type -
# int, float, bool, string(str),complex and None

a = int(input("enter the value of a : "))
print(a)
print(type(a))

b = float(input("enter the value of b : "))
print(b)
print(type(b))

c = input("enter the value of c : ")
print(c)
print(type(c))

d = bool(input("enter the value of d : "))
print(d)
print(type(d))

e = complex(input("enter the value of e : "))
print(e)
print(type(e))

f = None
print(f)
print(type(f))

enter the value of a :  1

1
<class 'int'>

enter the value of b :  3.1416

3.1416
<class 'float'>

enter the value of c :  hell yeah

hell yeah
<class 'str'>

enter the value of d :  True

True
<class 'bool'>

enter the value of e :  1+2j

(1+2j)
<class 'complex'>
None
<class 'NoneType'>

In [2]:
# operations such like plus, minus, multiplication, division and modulo

x = int(input("enter the value of x : "))
y = int(input("enter the value of y : "))

print("sum :" , x + y)
print("subtraction :", x - y)
print("multiplication :" , x * y)
print("division :", x / y)
print("modulo :", x % y)

enter the value of x :  2
enter the value of y :  3

sum : 5
subtraction : -1
multiplication : 6
division : 0.6666666666666666
modulo : 2

In [3]:
# string operation
# + sign used to add two string like this 'maruf' + 'is a bad boy'

a = 'Maruf'
b = 'is a bad boy'

res = a + " " + b
print(res)

Maruf is a bad boy

In [4]:
# more operation on string-like string slicing
s = "he is a good man"
print(s[0])
print(s[-1]) #last character index
print(s[0: : 1])
print(s[0: len(s): 2])

# string printing using a loop
for a in s :
    print(a, end = "")

h
n
he is a good man
h sago a
he is a good man

In [5]:
# type-casting

a = 123456
print(type(int(a)))
print(type(float(a)))
print(type(str(a)))

<class 'int'>
<class 'float'>
<class 'str'>

In [6]:
# list basic operation

list = [1, 3.1416, True, 'Maruf', None, 1+2j]
print(list)
print(type(list))
print('length if list is : ', len(list)) #length of list -> 6

# list slicing
print("printing list from index 0 to 2 : ", list[0:3])
print("whole list using slicing method : ", list[0: len(list): 1])
print("first element : ", list[0])
print("last element : ", list[-1])

list[0] = 123456789
print('after updating the 0th index value :', list)

[1, 3.1416, True, 'Maruf', None, (1+2j)]
<class 'list'>
length if list is :  6
printing list from index 0 to 2 :  [1, 3.1416, True]
whole list using slicing method :  [1, 3.1416, True, 'Maruf', None, (1+2j)]
first element :  1
last element :  (1+2j)
after updating the 0th index value : [123456789, 3.1416, True, 'Maruf', None, (1+2j)]

In [7]:
# list -> advance builtin function

l = [1, 2, 3]
nl = [4, 5, 6]

print("initially : ")
print(l)
print(nl)

print("after appending -111 : ")
l.append(-111)
print(l)

print("after adding l and nl : ")
res = l + nl
print(res)

print("after extending l with help of nl : ")
l.extend(nl)
print(l)

print("\n\nnew list(l)", l)

print("inserting value in l : ")
index = int(input('enter the index : '))
item = int(input('enter the value of item : '))
# (index, item)
l.insert(index, item)
print(l)


# remove, del, pop function
print("deleting value from l (-111): ")
item = -111
l.remove(item)
print(l)


# index based pop
l.pop(3)
print("after delete the value -> -1 : ")
print(l)


# del function

del l[0]
print("after deleting the element of 0th index : ")
print(l)




# this is all about list sir!!!!!!!!!!!!

initially :
[1, 2, 3]
[4, 5, 6]
after appending -111 :
[1, 2, 3, -111]
after adding l and nl :
[1, 2, 3, -111, 4, 5, 6]
after extending l with help of nl :
[1, 2, 3, -111, 4, 5, 6]


new list(l) [1, 2, 3, -111, 4, 5, 6]
inserting value in l :

enter the index :  2
enter the value of item :  -99999

[1, 2, -99999, 3, -111, 4, 5, 6]
deleting value from l (-111):
[1, 2, -99999, 3, 4, 5, 6]
after delete the value -> -1 :
[1, 2, -99999, 4, 5, 6]
after deleting the element of 0th index :
[2, -99999, 4, 5, 6]

In [8]:
# tuples

t = (1, "M", 1.23, None, True)
print("printing tuples : ", t)
print(type(t))

# empty tuple
t1 = ()
print(type(t1))

print("size of t before + operation : ", len(t))
tmp = (1, 2, 3, 4)
t = t + tmp

print(t)
print("size of t after + operation : ", len(t))

print(t[0])
print(t[-1])
print(t[4:len(t)])
print(t[0:len(t)])


# counting frequency
tmp1 = (1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3)
dp = [False] * 100000
for i in tmp1 :
    if dp[i] == False :
        print(tmp1.count(i))
        dp[i] = True

printing tuples :  (1, 'M', 1.23, None, True)
<class 'tuple'>
<class 'tuple'>
size of t before + operation :  5
(1, 'M', 1.23, None, True, 1, 2, 3, 4)
size of t after + operation :  9
1
4
(True, 1, 2, 3, 4)
(1, 'M', 1.23, None, True, 1, 2, 3, 4)
3
4
7

In [9]:
# set

s = {1, 1, 2, 2, 3, 3}
print("set printing : ", s)
print(type(s))
print(len(s))

# false method of empty set
s1 = ()
print(type(s1))

# right method
s1 = set()
print(type(s1))

l = [1, 1, 2, 2, 3, 3]
s1 = set(l)
print(s1)
print(len(s1))
print(type(s1))

set printing :  {1, 2, 3}
<class 'set'>
3
<class 'tuple'>
<class 'set'>
{1, 2, 3}
3
<class 'set'>

In [10]:
# add, remove, clear, update

s = {1, 2, 3}
s.add(4)

print(s)

s1 = {5, 6, 7}
s.update(s1)
print(s)

s.remove(1)
print(s)


print(len(s))
s.clear()
print(len(s))

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6, 7}
6
0

In [11]:
# dictionary

d = {
    'm' : 1,
    'n' : 2,
    'o' : 3
}


print(d)
print(type(d))

# empty dict
d = {}
print(type(d))

n = int(input('enter the value of n : '))
d = {}

for i in range(0, n) :
    p1, p2 = input().split()
    d[int(p1)] = int(p2)

print(d)
print(len(d))

{'m': 1, 'n': 2, 'o': 3}
<class 'dict'>
<class 'dict'>

enter the value of n :  3
 1 2
 2 3
 3 4

{1: 2, 2: 3, 3: 4}
3

In [12]:
# function

def abc(a, b):
    return int(a+b)

def p():
    print('hello world')


ans = abc(2, 3)
print(ans)
p()

5
hello world

In [13]:
def list_sum(l):
    sum = 0
    for i in l :
        sum += i
    return sum

l = [1, 2, 3, 4, 5]
list_sum(l)

15

# ***recursion***

In [14]:
def display(n):
    if n == 0 : return 0
    print(n)
    display(n-1)

def factorial(n) :
    if(n == 1) : return 1
    return n * factorial(n-1)



print("5 to 1 : ")
display(5)
print("fatorial of 10 is : ", factorial(10))

5 to 1 :
5
4
3
2
1
fatorial of 10 is :  3628800

# ***loops***

In [15]:
sum = 0

n = int(input('enter the value of n : '))

i = 0
while i <= n :
    sum += i
    i += 1

print(sum)

enter the value of n :  3

6

In [16]:
mult = 1

n = int(input('enter the value of n : '))

for i in range(1, n+1, 1):
    mult = mult * i

print(mult)

enter the value of n :  3

6

In [17]:
lst = [1, 2, 3, 4, 5, 6, 7, 8 , 9]

for i in lst  :
    print(i, end = " ")

print()
print(len(lst))

1 2 3 4 5 6 7 8 9
9

# ***some advance technique***

In [18]:
# binary serach

array = [1, 1, 2, 3, 2, 4, 5, 6, 7, 5, 6, 7, 8, 99, -1, 2]

def binary_search(item):
    l = 0
    r = len(array)-1
    mid = None

    while l <= r :
        mid = int((l + r) / 2)
        if array[mid] == item :
            print("item found...")
            return
        elif array[mid] > item :
            r = mid - 1
        else :
            l = mid + 1

    print("item not found...")




array.sort()
print(array)

item = int(input('enter the value you want to search : '))
binary_search(item)

[-1, 1, 1, 2, 2, 2, 3, 4, 5, 5, 6, 6, 7, 7, 8, 99]

enter the value you want to search :  3

item found...

In [20]:
# prefix sum

arr = [   1, 1, 2, 3, 2, 4]
#      0  1  2  3  4  5  6
prefix = [0] * (len(arr)+1)


for i in range(1, len(arr)+1):
    prefix[i] = prefix[i-1] + arr[i-1]

print("the prefix sum series : ", prefix)

l = int(input('enter the value of l : '))
r = int(input('enter the value of r : '))

print(prefix[r]-prefix[l-1])

the prefix sum series :  [0, 1, 2, 4, 7, 9, 13]

enter the value of l :  1
enter the value of r :  2

2